{% extends 'base.html' %}
{% block body %}
	<h1 class="masthead">ABOUT<span id="logo"><img src="static/css/botmaker-logo.png"></span></h1>
	<p>Botmaker was created as part of <a href="http://www.rjionline.org/hackathon2014">RJI's social journalism hackathon in 2014</a>. The team includes:</p>
		<ul>
			<li><a href="http://twitter.com/scottpham">Scott Pham</a></li>
			<li><a href="http://www.linkedin.com/in/amylibra">Amy Lee</a></li>
			<li><a href="http://www.linkedin.com/in/maggieshine">Maggie Shine</a></li>
		</ul>
	<p><a href="https://github.com/scottpham/twitterBot">View the source code on GitHub.</a></p>
{% endblock %}